body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Robot", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: 
    font-family: "Inter", sans-serif
    background-color: #eceff1
    font-weidth: bold;
    text-align: center
  }

  code {
    font-family: : source-code-pro, Menlo, Monaco {
      monospace;
    }
  }
